---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
  </head>
  <body class="min-h-screen bg-black font-mono leading-relaxed text-white">
    <slot />
    <script is:inline>
      function beforeSendHandler(type, payload) {
        if (payload.hostname !== "astro-grab.nickradford.dev") {
          console.log(type,payload)
          return false
        }
        return payload;

      }</script>
    <script 
      defer 
      is:inline 
      src="https://st.nickradford.dev/script.js" 
      data-website-id="a105b203-64dc-4fd8-be7b-319fa279bf49" 
      data-before-send="beforeSendHandler"></script>
  </body>
</html>
