---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
      <!--
      and
      it's
      easy
      to
      individually
      load
      additional
      languages
      --
    />
  </head>
  <body class="min-h-screen bg-black font-mono leading-relaxed text-white">
    <slot />
  </body>
</html>
