---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article class="p-6 transition-all duration-300 hover:scale-105">
  <h3
    class="mb-4 text-center text-xl font-bold tracking-wide text-white uppercase"
  >
    {title}
  </h3>
  <p class="m-0 text-center leading-relaxed text-gray-400">{description}</p>
</article>
